
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol, ul, li {
    list-style: none;
}

a, a:hover {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}


.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.col-3 {
    width: 32.0%;
}

.col-2 {
    width: 50%;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

/*HEADER*/

#header {
    width: 100%;
    padding: 22px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 52px;
}

.header__logo__img {

}

.header__nav {
    margin-right: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav__list {
    margin-right: 33px;
}

.header__nav__list__item {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
}

.header__nav__list__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 22px;
    background: #000000;
    border-radius: 14px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}

.header__burger {
    display: none;
}

.header__burger__menu {
    position: relative;
    margin-right: 50px;
    width: 20px;
    height: 2px;
    background: #000000;
}

.header__burger__menu::before {
    content: '';
    position: absolute;
    margin: -6px 0;
    width: 20px;
    height: 2px;
    background: #000000;
}

.header__burger__menu::after {
    content: '';
    position: absolute;
    margin: 6px 0;
    width: 20px;
    height: 2px;
    background: #000000;
}

/*HEADER*/


/*HERO*/

#hero {
    position: relative;
    min-height: 720px;
    background: #ECE7E4;
}

#hero::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 50%;
    background: url("../img/heroimg.png") 0 0 no-repeat;
}


.hero__info {
    padding-top: 135.5px;
    width: 600px;
}

.hero__info__name {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
}

.hero__info__title {
    margin: 21px 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    color: #000000;
}

.hero__info__subtitle {
    width: 509px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.hero__info__btn {
    margin-top: 30px;
    margin-left: 4px;
    padding: 10px 33px;
    border: 1px solid #000000;
    border-radius: 14px;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
}

/*HERO*/


/*ABOUT*/

.about {
    padding: 97px 226px;
}

.about__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 770px;
    height: 582px;
}

.about__info__title {
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
}

.about__info__items {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.about__info__items__subtitle {
    margin: 5px 0;
    width: 493px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #000000;
}

.about__info__items__author {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__info__items__author__info {
    margin: 0 31px;
}

.about__info__items__author__info__name {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;

    color: #000000;
}


.about__info__items__author__info__major {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #000000;
}


/*ABOUT*/


/*READING*/

#reading {
    margin: 5.5px 0;
    height: 600px;
    background: url("../img/reading.png") no-repeat center/cover;
}

.reading {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.reading__info {
    margin: 267px -25px
}

.reading__info__title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.reading__info__title__subtitle {
    width: 285px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #000000;
}

/*READING*/

/*PROJECTS*/

#projects {
    margin: 5.5px 0;
    height: 570px;
}

.projects {
    margin: 0 auto;
}

.projects__processes {
    padding-top: 95px;
    margin-left: 2px;
    text-align: center;
}

.projects__services__img {
    margin: 0 20px;
}


.projects__processes__title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #000000;
}

.projects__processes__subtitle {
    margin: 14px 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    text-align: center;

    color: #000000;
}

.projects__services {
    height: 259px;
    margin-top: 32px;
    text-align: center;
}

.projects__services__title {
    margin-top: 9px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;

    color: #000000;
}

.projects__services__subtitle {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: #717171;
}

/*PROJECTS*/


/*STAIR*/

#stair {
    height: 600px;
    background: url("../img/stair.png") no-repeat center/cover;
}

.stair {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.stair__info {
    margin: 267px -25px
}

.stair__info__title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.stair__info__subtitle {
    width: 285px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #000000;
}


/*STAIR*/


/*CLIENTS*/

#clients {
    height: 410px;
    background: #000000;
}

.clients {
    padding: 53px 0
}

.clients__info {
    height: 302px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.clients__info__happiness {
    margin: 0 85px;
    width: 460px;
}

.clients__info__happiness__title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #ECE7E4;
}

.clients__info__happiness__main {
    margin-bottom: 12px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;

    color: #FFFFFF;
}

.clients__info__happiness__subtitle {
    width: 451px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;

    color: #ECE7E4;

}

.clients__info__icons{
    width: 439px;
    margin-left: 88px;
    height: 284px;
}



.clients__info__icons__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item2{
    padding-top: 48px;
}

.clients__info__icons__items__item{
    margin-top: 39px;
}

/*CLIENTS*/


/*STAIRCASE   */

#staircase {
    height: 600px;
    background: url("../img/staircase.png") no-repeat center/cover;
}


.staircase__info {
    position: absolute;
    margin: 267px 81px;
}

.staircase__info__title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.staircase__info__subtitle {
    width: 285px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #000000;
}

/*STAIRCASE   */

/*FEATURED*/


#featured{
    height: 918px;
    background: #F7F7F7;
}

.featured__info{
    width: 653px;
}

.featured__info__title{
    position: absolute;
    margin-left: 36px;
    margin-top: 115px;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    color: #000000;
}

.featured__info__subtitle{
    position: absolute;
    width: 584px;
    margin: 170px 36px;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #000000;
}




.featured__card__image__img{
    margin: 274px 13px;
}


.featured__card__image {
    position: absolute;
}

.featured__card__contents {
    margin: 243px 0;
    position: absolute;
    visibility: hidden;
    transition: transform .5s;
}


.featured__card:hover .featured__card__contents {
    visibility: visible;
    transition: .5s;
    display: block;
}



.featured__card__contents__info__subtitle{
    margin-top: 71px;
    margin-left: 51.6px;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #000000;
}

.featured__card__contents__info__title{
    margin-left: 52px;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;

    color: #403E3B;
}


.featured__card__contents__btn{
    padding: 12px 21px;
    margin-left: 55px;
    margin-top: 279px;
    background: #000000;
    border-radius: 14px;
    border: none;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;

    color: #FFFFFF;

}

.featured__button__btn{
    position: absolute;
    padding: 10px 45px;
    margin-left: 537px;
    margin-top: 772px;
    border: 1px solid #000000;
    border-radius: 14px;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.4px;

    color: #000000;
}

/*FEATURED*/

/*TEAM*/


.team {
    padding: 82px 36px;
    display: flex;
    justify-content: space-between;
}


.team__info {
    margin: 14px 0;
    width: 378.66px;
}


.team__info__title{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;

    color: #000000;
}


.team__members__info__person{
    margin-left: 31px;
}


.team__info__subtitle{
    width: 375px;
    margin: 14px 0;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;

    color: #000000;
}

.team__info__subtitle__btn{
    padding: 10.9px 37px;
    margin: 15px 0;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.4px;

    color: #000000;
    border: 1px solid #000000;
    border-radius: 14px;
}

.team__members__info {
    padding: 26px 0;
    width: 50%;
    display: flex;
    align-items: center;
}


.team__members {
    width:773.33px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    flex-wrap: wrap;
}

.team__members__info {
    width: 50%;
}

.team__members__info__person__title{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;

    color: #000000;
}

.team__members__info__person__subtitle{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    color: #000000;
}

/*TEAM*/

/*MEDIA*/

@media only screen and (max-width: 1305px) {
    .container {
        max-width: 1205px;
    }

    /*READING*/
    .reading__info {
        margin: 266px 0;
    }

    /*READING*/
    /*STAIR*/
    .stair__info {
        margin: 266px 0;
    }

    /*STAIR*/

}

@media (max-width: 1200px) {
    .container {
        max-width: 1025px;
    }

    /*HERO*/
    #hero::before {
        inset: 0 0 0 50%;
    }

    .hero__info {
        padding-left: 20px;
        width: 400px;
    }

    .hero__info__subtitle {
        width: auto;
    }

    /*HERO*/
    /*ABOUT*/
    .about {
        padding: 97px 100px;
    }
    /*ABOUT*/

    /*CLIENTS*/

    .clients__info__icons {
        width: 361px;
        margin-left: 0;
        height: 284px;
    }

    /*CLIENTS*/

    /*FEATURED*/

    .featured__card__image__img {
        width: 300px;
        margin: 274px 13px;
    }


    .featured__card__contents__btn {
        margin-top: 210px;
    }

    .featured__button__btn {
        margin-left: 444px;
        margin-top: 736px;
    }

            /*FEATURED*/
}


@media only screen and (max-width: 1024px) {

    .container {
        max-width: 995px;
    }

    /*CLIENTS*/

    .item2 {
        padding-top: 0;
    }

    .clients__info__icons {
        margin: 0 auto;
        height: inherit;
    }

    .clients__info__happiness {
        margin: 0 auto;
        width: 460px;
        /*text-align: center;*/
    }

    .clients__info__happiness__subtitle {
        width: 361px;    }
    /*CLIENTS*/

    /*FEATURES*/
    .featured__info__title {
        font-size: 28px;
    }


    .featured__info__subtitle {
        font-size: 20px;
    }

    .featured__card__image__img {
        width: 300px;
    }

    .featured__card__contents__btn {
        margin-top: 207px;
    }

    .featured__button__btn {
        margin-left: 438px;
        margin-top: 700px;
    }
    /*FEATURES*/

    /*TEAM*/

    .team__info__subtitle {
        width: 250px;
    }

    /*TEAM*/
}

@media only screen and (max-width: 992px) {

    .container {
        max-width: 825px;
    }

    .header__nav {
        position: fixed;
        left: 100%;
        top: 62px;
        gap: 0;
        flex-direction: column;
        background-color: #FFFFFF;
        box-shadow: 0 5px 15px rgb(0 0 0 / 5%);
        width: 50%;
        text-align: center;
        transition: 0.3s;
        z-index: 10;
    }

    .header__nav__list {
        margin: 20px 0;
    }

    .header__nav__list__item {
        font-size: 22px;
    }

    .header__nav.active {
        left: 50%;

    }

    .header__burger {
        display: block;
    }

    .header__burger.close .header__burger__menu {
        transform: translateY(2px) rotate(50deg);
    }

    .header__burger.close .header__burger__menu:before {
        opacity: 0;
    }

    .header__burger.close .header__burger__menu:after {
        transform: translateY(-6px) rotate(-100deg);
    }

    /*HERO*/
    #hero::before {
        inset: 0 0 0 50%;
    }

    .hero__info__name {
        font-size: 12px;
    }

    .hero__info__title {
        font-size: 50px;
        line-height: 60px;
    }

    .hero__info__subtitle {
        font-size: 12px;
    }

    /*HERO*/
    /*ABOUT*/
    .about {
        padding: 97px 20px;
    }

    /*ABOUT*/
    /*READING*/
    .reading__info {
        margin: 100px 0;
    }

    /*READING*/
    /*PROJECTS*/
    #projects {
        height: auto;
    }

    .columns {
        display: block;
    }

    .projects__services {
        height: auto;
    }

    .projects__services {
        margin: 52px 50%;
        width: 500px;
        height: 259px;
        text-align: center;
    }

    /*PROJECTS*/
    /*STAIR*/
    .stair__info {
        margin: 100px 0;
    }

    /*STAIR*/


    /*CLIENTS*/

    .clients__info__icons {
        margin: 0 auto;
        height: auto;
    }

    .clients__info__icons__items__item {
        margin-top: 17px;
    }
    .clients__info__happiness__subtitle {
         width: auto;
    }
    .clients__info__happiness {
         text-align: center;
    }

    /*CLIENTS*/

    /*FEATURED*/

    #featured {
        height: 818px;
        background: #F7F7F7;
    }

    .featured__card__image__img {
        width: 230px;
    }

    .featured__card__contents__info__subtitle {
        font-size: 12px;
    }

    .featured__card__contents__info__title {
        font-size: 18px;
    }

    .featured__card__contents__btn {
        margin-top: 119px;
        padding: 8px 17px;
    }

    .featured__button__btn {
        padding: 7px 37px;
        margin-left: 334px;
    }

    /*FEATURED*/

    /*TEAM*/
    .team {
        display: block;
    }

    .team__info {
        text-align: center;
        margin: 14px auto;
        width: 378.66px;
    }
    .team__info__subtitle {
         width: auto;
    }

    /*TEAM*/
}

@media only screen and (max-width: 820px) {

    .container {
        max-width: 775px;
    }


    /*HERO*/
    .hero__info {
        padding-top: 80.5px;
        width: 300px;
    }

    .hero__info__title {
        font-size: 40px;
        line-height: 50px;
    }

    /*HERO*/
    /*ABOUT*/
    .about__info {
        width: 720px;
    }

    /*ABOUT*/

    /*STAIRCASE*/
    .staircase__info {
        position: absolute;
        margin: 100px 81px;
    }

    /*STAIRCASE*/

    /*TEAM*/

    .team__members__info {
        margin: 0 auto;
    }


    .team__members {
        width: auto;
        display: block;
    }
    /*TEAM*/
}


@media only screen and (max-width: 770px) {
    .container {
        max-width: 605px;
    }

    /*HERO*/
    .hero__info {
        padding-left: 15px;
    }

    .hero__info__name {
        font-size: 10px;
    }

    .hero__info__title {
        font-size: 30px;
        line-height: 40px;
    }

    .hero__info {
        padding-top: 80.5px;
        width: 40%;
    }

    /*HERO*/
    /*ABOUT*/
    .about__info {
        width: auto;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about__info__title {
        margin: 20px 0;
        padding-left: 0;
        font-size: 26px;
    }

    .about__info__items__author {
        margin: 20px auto;
    }

    .about__info__items__subtitle {
        margin: 20px 0;
    }

    /*ABOUT*/

    /*PROJECTS*/
    .projects__services {
        margin: 52px 25%;
    }

    /*PROJECTS*/

    /*FEATURED*/

    #featured {
        height: 718px;
        background: #F7F7F7;
    }

    .featured__info {
         width: auto;
    }

    .featured__info__title {
        width: 220px;
        font-size: 25px;
    }

    .featured__info__subtitle {
        font-size: 16px;
    }

    .featured__card__image__img {
        width: 164px;
    }

    .featured__card__contents__info__subtitle {
        margin-left: 29.6px;
    }

    .featured__card__contents__info__title {
        margin-left: 29.6px;
        font-size: 15px;

    }


    .featured__card__contents__btn {
        margin-top: 58px;
        padding: 5px 8px;
        margin-left: 28px;

    }

    .featured__button__btn {
        padding: 4px 22px;
        margin-left: 249px;
        margin-top: 569px;
    }

    /*FEATURED*/

}

@media only screen and (max-width: 600px) {
    .container {
        max-width: 490px;
    }

    .hero__info {
        padding-top: 120px;
        padding-left: 10px;
    }

    /*ABOUT*/
    .about__info__items__subtitle {
        margin: 10px 0;
        width: auto;
        font-size: 14px;
    }

    /*ABOUT*/
    /*PROJECTS*/
    .projects__services {
        width: 400px;
        margin: 52px 22%;
    }

    /*PROJECTS*/

    /*FEATURED*/

    #featured {
        height: 618px;
    }


    .featured__card__image__img {
        width: 137px;
    }


    .featured__card__contents__info__subtitle {
        margin-left: 22.6px;
    }

    .featured__card__contents__info__title {
        margin-left: 22.6px;
        font-size: 13px;
    }

    .featured__card__contents__btn {
        margin-top: 36px;
        padding: 2px 9px;
        margin-left: 18px;
        font-size: 11px;
    }

    .featured__button__btn {
        padding: 4px 15px;
        margin-left: 194px;
        margin-top: 500px;
        font-size: 11px;
    }


    /*FEATURED*/
}

@media only screen and (max-width: 480px) {

    .container {
        max-width: 330px;
    }


    .header__logo__img {
        width: 150px;
    }

    .header__nav__list__item {
        font-size: 15px;
    }

    .header__nav__list__btn {
        padding: 7px 15px;
        font-size: 13px;
    }

    /*HERO*/
    #hero {
        position: relative;
        min-height: 600px;
        background: #ECE7E4;
    }

    .hero__info {
        padding-top: 20px;
        padding-left: 10px;
    }


    .hero__info__title {
        font-size: 20px;
        line-height: 27px;
    }

    .hero__info__subtitle {
        font-size: 11px;
    }

    .hero__info__btn {
        padding: 2px 20px;
        font-size: 12px;
    }

    /*HERO*/
    /*ABOUT*/
    .about__info {
        height: auto;
    }

    .about {
        padding: 50px 20px;
    }

    /*ABOUT*/
    /*PROJECTS*/
    .projects__services {
        width: 300px;
        margin: 52px 0;
    }

    /*PROJECTS*/


    /*CLIENTS*/

    #clients {
        height: 480px;
        background: #000000;
    }

    .clients__info__happiness__main {
        font-size: 25px;
    }

    .clients__info__happiness__subtitle {
        font-size: 13px;
    }

    .clients__info__icons__items {
         display: block;
    }

    .clients__info__icons {
        margin: 0 108px;
        height: auto;
    }

    /*CLIENTS*/


    /*STAIRCASE*/
    .staircase__info {
        position: absolute;
        margin: 100px auto;
    }
    /*STAIRCASE*/

    /*FEATURED*/

    #featured {
        background: #FFFFFF;
        height: 1200px;
    }

    .featured--row{
        display: block;
    }

    .featured__card__image__img {
        margin: 20px 60px;
        width: 200px;
    }

    .featured__card__contents__info__subtitle {
        margin-left: 75.6px;
    }

    .featured__card__contents__info__title {
        margin-left: 75.6px;
    }

    .featured__info__title {
        position: initial;
    }


    .featured__info__subtitle {
        width: 284px;
        margin: 20px 36px;
        position: initial;
    }

    .featured__card__contents__btn {
        margin-top: 89px;
        padding: 2px 9px;
        margin-left: 74px;
        font-size: 11px;
    }

    .featured__card__image {
        position: inherit;
    }

    .featured__button__btn {
        padding: 7px 44px;
        margin-left: 82px;
        margin-top: 11px;
        font-size: 15px;
    }

    .featured__card__contents {
        margin: -309px 0;
    }


    /*FEATURED*/
}



/*MEDIA*/